@import './constants';
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.header {
  animation: fadeIn 5s;
  margin-top: $navbar-height;
  padding-top: $section-vertical-margin;
  //background-image: url('../images/hex.svg');
  //background-blend-mode: darken;
  //background-size: cover;
  //background-repeat: repeat-x !important;
  width: 100vw;
  color: $black;
  .header-logo {
    margin-left: auto;
    margin-right: auto;
    background-image: url('../images/hlogo.jpg');
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 15em;
    height: 15em;
  }

  .content {
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .header-text {
    font-family: newspaper, serif;
    font-size: 3em;
    float: top;
    align-content: center;
  }

  .subcontent {
    font-family: newspaper, serif;
    font-size: 0.6em;
    align-content: center;
  }

  .registration {
    font-family: newspaper, serif;
    height: 45%;
    padding-top: 40px;
    box-sizing: border-box;
    width: 100%;
    font-size: 1em;
    a {
      alignment: center;
      transition: background-color 0.25s ease;
      font-size: 2em;
      background: $blue;
      color: #fff;
      padding: 1rem 2.5rem 1rem 2.5rem;
      border-radius: 12px;
      align-content: center;

      &:active,
      &:hover,
      &.active {
        background: #01a7c2;
      }
    }
  }
  

  @media only screen and (max-width: 840px) {
    .header-logo {
      margin-top: 1em;
      margin-bottom: 1em;
      margin-left: 1em;
      width: 16em;
      height: 16em;
      float: bottom;
    }
    .header-text {
      font-family: newspaper, serif;
      font-size: 1.3em;
      float: top;
      align-content: center;
    }

    .registration {
      a {
        font-size: 1.75rem;
      }
    }

    .subcontent {
      font-size: 1.6rem;
    }
  }

  @media only screen and (max-width: 570px) {
    margin-top: $navbar-height-mobile;

    .header-logo {
      margin-top: .5em;
      margin-bottom: .5em;
      margin-left: .5em;
      width: 10em;
      height: 10em;
      float: bottom;
    }

    .header-text {
      font-family: newspaper, serif;
      font-size: 1em;
      float: top;
      align-content: center;
    }

    .subcontent {
      font-size: 1.4rem;
    }

    .registration {
      a {
        font-size: 1.25rem;
      }
    }
  }
}
